@import './global/normalize' ;
@import './global/variable' ;
@import './global/global' ;
@import './sections/footer' ;
@import './sections/header' ;
@import './sections/banner' ;
@import './sections/citys' ;
@import './sections/visa' ;
@import './sections/edu' ;