/* BANNER - START */
.banner{

    &_row{
           position: relative;
    }

    &_img{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        border-radius: 26px;
        margin-top: 80px;
        background: linear-gradient(0deg, #000 1.04%, rgba(28, 25, 23, 0.00) 77.98%);
        background-image: url(/images/banner\ img.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        img{
            width: 100%;      
            vertical-align: bottom;
        }
        &_text{
           display: flex;
           flex-direction: column;
           position: absolute;
           bottom:0;
           left:0;
           padding: 0 0 84px 80px;
           gap: 30px;

           @media screen and (max-width: 1110px) { 
            gap: 28px;
            padding: 0 0 60px 54px; 
        } 
   
        @media screen and (max-width: 1024px) { 
            gap: 26px;
            padding: 0 0 50px 48px; 
        } 
   
        @media screen and (max-width: 880px) { 
           gap: 24px;
           padding: 0 0 30px 28px; 
        } 
   
        @media screen and (max-width: 768px) { 
            gap: 18px;
            padding: 0 0 26px 22px; 
        } 
   
        @media screen and (max-width: 680px) { 
           gap: 14px;
        } 
        
    }
        &_title{
            color: #FFF;
            font-family: SF Pro Text;
            font-size: 64px;
            font-style: normal;
            font-weight: 600;
            

            @media screen and (max-width: 1320px) { 
                font-size: 58px; 
            } 
       
            @media screen and (max-width: 1200px) { 
                font-size: 54px; 
            } 
       
            @media screen and (max-width: 1110px) { 
                font-size: 48px; 
            } 
       
            @media screen and (max-width: 1024px) { 
                font-size: 42px; 
                margin-bottom: 12px; 
            } 
       
            @media screen and (max-width: 880px) { 
                font-size: 36px; 
                margin-bottom: 12px; 
            } 
       
            @media screen and (max-width: 768px) { 
                font-size: 32px; 
                margin-bottom: 10px; 
            } 
       
            @media screen and (max-width: 680px) { 
                display: none; 
            } 
      
        }
        &_subtitle{
            color: #FFF;
            font-family: SF Pro Text;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media screen and (max-width: 1320px) { 
                width: 360px; 
                font-size: 22px; 
            } 
       
            @media screen and (max-width: 1024px) { 
                width: 300px; 
                font-size: 18px; 
            } 
       
            @media screen and (max-width: 880px) { 
                width: 300px; 
                font-size: 16px; 
            } 
       
            @media screen and (max-width: 768px) { 
                width: 280px; 
                font-size: 14px; 
            } 
       
            @media screen and (max-width: 680px) { 
                width: 380px; 
                font-size: 24px; 
            } 
       
            @media screen and (max-width: 440px) { 
                width: 340px; 
                font-size: 20px; 
            } 
       
            @media screen and (max-width: 375px) { 
                width: 300px; 
                font-size: 16px; 
            }
        }
}

    
    &_svg{
        width: 64px;
        height: 64px;
        border: 1px solid white;
        border-radius: 50%;
        position: absolute;
        bottom: 84px;
        left: 505px;
        transition: all 0.4s ease-in-out;

        &:hover{
         border-color: #FF8541;
            color: #FF8541;
            transform: rotate(30deg);
        }
        &:hover svg path {
            stroke: #FF8541;
        }

        @media screen and (max-width: 680px) { 
           display: none;
        }
     }



       
}
/* BANNER - END */
