/* VISA - START */
.visa{

    &_row{
        margin-top: 30px;
    }


    &_text{
        color: #000;
        font-family: SF Pro Text;
        font-size: 39px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
   
    &_news{
        display: flex;
        gap:10px;
        flex-wrap: wrap;      
        @media screen and (max-width:724px) {
            overflow-x: scroll;
            flex-wrap: nowrap;
            
        }

    }
    &_content{
        display: flex;
        width: 337px;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        background-color: #F9F8F6;
        gap: 16px;
        border-radius: 16px 16px 0px 0px;
        flex: 1 1 auto;
       

      

        &_text{
            display: flex;
            flex-direction: column;
            gap:9px;
            padding: 0 24px 24px;

            &_title{
                color: #000;
                font-family: SF Pro Text;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &_subtitle{
                color: var(--Black-2, #555351);
                font-family: SF Pro Text;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height:137.5% ; 
            }
        }

        // &_img{
        //     width:100%;
        //     img{
        //         width: 100%;
        //     }

        //     @media screen and (max-width:724px) {
        //         width: 0;

        //         img{
        //             width: 0;
        //         }
                
        //     }


        // }    
    }
}
/* VISA - END */
