@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

/* HEADER - START */
.header {
  position: relative;
  padding: 12px 0;
  box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
}
.header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 475px) {
  .header_row {
    margin-top: 20px;
  }
}
.header_link {
  color: #8D8C8B;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header_link.active {
  color: #000;
}
.header_link.active:hover {
  color: #8D8C8B;
}
.header_link:not(:last-child) {
  margin-right: 40px;
}
.header_link:hover {
  color: black;
}
@media screen and (max-width: 900px) {
  .header_link {
    display: none;
  }
}
.header_bottom {
  display: flex;
  gap: 16px;
}
.header_bottom_btn1 {
  display: inline-flex;
  padding: 18px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #FF8541;
  border: 1px solid var(--Black-2, #FF8541);
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header_bottom_btn1:hover {
  background-color: #FFF;
  color: #FF8541;
}
@media screen and (max-width: 475px) {
  .header_bottom_btn1 {
    width: 156px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
  }
}
.header_bottom_btn2 {
  display: flex;
  width: 83px;
  height: 55px;
  padding: 16px 11px 15px 18px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Black-2, #555351);
  background: #FFF;
  gap: 8px;
  flex-shrink: 0;
  color: #555351;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header_bottom_btn2:hover {
  background-color: #FF8541;
  color: #FFF;
  border-color: #FF8541;
}
.header_bottom_btn2:hover svg path {
  stroke: #FFF;
}
@media screen and (max-width: 475px) {
  .header_bottom_btn2 {
    display: none;
  }
}
.header_kursor {
  display: none;
  width: 43px;
  height: 43px;
  flex-shrink: 0;
}
@media screen and (max-width: 900px) {
  .header_kursor {
    display: block;
  }
}
.header_top {
  display: none;
}
@media screen and (max-width: 475px) {
  .header_top {
    height: 43px;
    flex-shrink: 0;
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 160px;
  }
}
.header_top_time {
  color: #000;
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header_logo img {
  width: 110px;
  height: 79px;
}
@media screen and (max-width: 475px) {
  .header_logo img {
    width: 59.787px;
    height: 43px;
    flex-shrink: 0;
  }
}

/* HEADER - END */
/* BANNER - START */
.banner_row {
  position: relative;
}
.banner_img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 26px;
  margin-top: 80px;
  background: linear-gradient(0deg, #000 1.04%, rgba(28, 25, 23, 0) 77.98%);
  background-image: url(/images/banner\ img.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.banner_img img {
  width: 100%;
  vertical-align: bottom;
}
.banner_img_text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 84px 80px;
  gap: 30px;
}
@media screen and (max-width: 1110px) {
  .banner_img_text {
    gap: 28px;
    padding: 0 0 60px 54px;
  }
}
@media screen and (max-width: 1024px) {
  .banner_img_text {
    gap: 26px;
    padding: 0 0 50px 48px;
  }
}
@media screen and (max-width: 880px) {
  .banner_img_text {
    gap: 24px;
    padding: 0 0 30px 28px;
  }
}
@media screen and (max-width: 768px) {
  .banner_img_text {
    gap: 18px;
    padding: 0 0 26px 22px;
  }
}
@media screen and (max-width: 680px) {
  .banner_img_text {
    gap: 14px;
  }
}
.banner_img_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 1320px) {
  .banner_img_title {
    font-size: 58px;
  }
}
@media screen and (max-width: 1200px) {
  .banner_img_title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1110px) {
  .banner_img_title {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .banner_img_title {
    font-size: 42px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 880px) {
  .banner_img_title {
    font-size: 36px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .banner_img_title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 680px) {
  .banner_img_title {
    display: none;
  }
}
.banner_img_subtitle {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 1320px) {
  .banner_img_subtitle {
    width: 360px;
    font-size: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .banner_img_subtitle {
    width: 300px;
    font-size: 18px;
  }
}
@media screen and (max-width: 880px) {
  .banner_img_subtitle {
    width: 300px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .banner_img_subtitle {
    width: 280px;
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .banner_img_subtitle {
    width: 380px;
    font-size: 24px;
  }
}
@media screen and (max-width: 440px) {
  .banner_img_subtitle {
    width: 340px;
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .banner_img_subtitle {
    width: 300px;
    font-size: 16px;
  }
}
.banner_svg {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 84px;
  left: 505px;
  transition: all 0.4s ease-in-out;
}
.banner_svg:hover {
  border-color: #FF8541;
  color: #FF8541;
  transform: rotate(30deg);
}
.banner_svg:hover svg path {
  stroke: #FF8541;
}
@media screen and (max-width: 680px) {
  .banner_svg {
    display: none;
  }
}

/* BANNER - END */
/* CITYS - START */
.city_text {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .city_text {
    display: flex;
    justify-content: space-evenly;
  }
}
.city_text_tit1 {
  color: #000;
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  .city_text_tit1 {
    color: #000;
    font-size: 25px;
  }
}
.city_text_tit {
  color: var(--Brown-2, #FF8541);
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  .city_text_tit {
    color: #000;
    font-size: 25px;
  }
}
.city_text_btn {
  display: inline-flex;
  padding: 18px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #555351;
  background: #FFF;
  color: var(--Black-1, #1C1917);
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  .city_text_btn {
    color: #000;
    font-size: 12px;
    padding: 9px 18px;
    font-weight: 600;
  }
}
.city_text_btn:hover {
  background-color: #FF8541;
  color: #FFF;
  border: 1px solid;
}
.city_famous {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}
@media screen and (max-width: 724px) {
  .city_famous {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}
.city_famous img {
  width: 100%;
  vertical-align: bottom;
}
.city_famous_one {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}
@media screen and (max-width: 724px) {
  .city_famous_one {
    flex: 0 0 auto;
  }
}
.city_famous_one_text {
  position: absolute;
  bottom: 57px;
  left: 24px;
}
.city_famous_one_text_sub {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.city_famous_one_locat {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 24px;
}
.city_famous_one_locat_span {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.city_famous_one_locat_p {
  position: absolute;
  bottom: 20px;
  left: 203px;
}

/* CITYS - END */
/* VISA - START */
.visa_row {
  margin-top: 30px;
}
.visa_text {
  color: #000;
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.visa_news {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@media screen and (max-width: 724px) {
  .visa_news {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
}
.visa_content {
  display: flex;
  width: 337px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background-color: #F9F8F6;
  gap: 16px;
  border-radius: 16px 16px 0px 0px;
  flex: 1 1 auto;
}
.visa_content_text {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0 24px 24px;
}
.visa_content_text_title {
  color: #000;
  font-family: SF Pro Text;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.visa_content_text_subtitle {
  color: var(--Black-2, #555351);
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.5%;
}

/* VISA - END */
/* EDU - START */
.edu_text {
  margin-top: 30px;
}
.edu_text_tit {
  color: var(--Brown-2, #FF8541);
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edu_text_sub {
  color: #000;
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edu_content {
  width: 100%;
  display: flex;
  border-radius: 26px;
  background: #F9F8F6;
  padding: 48px 48px;
  margin-top: 30px;
  overflow-x: scroll;
}
.edu_content_text {
  display: flex;
  flex-direction: column;
  padding: 48px 48px;
  gap: 44px;
}
.edu_content_text_tit {
  color: var(--Brown-2, #FF8541);
  font-family: SF Pro Text;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edu_content_text_sub {
  color: var(--Black-2, #555351);
  font-family: SF Pro Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.edu_content_text_btn {
  width: 132px;
  height: 55px;
  display: inline-flex;
  padding: 18px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #555351;
  background: #FFF;
  color: #555351;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edu_content_text_btn:hover {
  background-color: #FF8541;
  border-color: #FF8541;
  color: #FFF;
}
.edu_content_img {
  width: 544px;
  height: 405px;
  flex-shrink: 0;
  padding: 24px 12px;
}

/* EDU - END *//*# sourceMappingURL=main.css.map */